@import '../variables';

#skills {
  .techology-container {
    .heading {
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .icon {
      background-position: center;
      background-repeat: no-repeat; 
      background-size: contain;
      margin: 10px 15px;
      padding: 30px;
      transition: all 0.3s ease-in-out;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}