<script id="about-template" type="text/x-mustache-template">
  <div class="section pb-3">
    <div class="section-body">
      <div class="section-highlighter left">
        <div class="container">
          <div class="col-sm-4 m-auto mb-3">
            <div class="profile-photo" style="background-image: url('{{profileImage}}')"></div>
          </div>

          <div class="text-center my-4">
            <h1 class="name">{{name}}</h1>
            <p class="sub-text highlight-primary mt-3">
              {{#tags}}
                <span class="tag">{{.}}</tag>
              {{/tags}}
            </p>
          </div>

          <div class="row justify-content-center">
            <div class="col-sm-7 about-content">
              <p>
                Passionate full stack developer with a zest for building, innovating, and exploring the latest technologies.
              </p>
              <p>
                With {{yearsMsg}} of experience under my belt, I thrive on tackling new challenges head-on, eagerly accepting each dashing opportunity as a chance to innovate and solve problems creatively.
              </p>
              <p>
                From frontend design to backend development, I relish the opportunity to bring ideas to life and push the boundaries of what's possible in the ever-evolving tech landscape.
              </p>
            </div>
          </div>
        </div>
      </div>
    <div>
  </div>
</script>
