<script id="footer-template" type="text/x-mustache-template">
  <hr class="hr">
  <div class="no-select text-center">
    Crafted with <span class="love"><i class="ri-heart-3-fill"></i></span> by Piyush
  </div>
</script>